* {
  box-sizing: border-box;
}

.tabs {
  padding: 15px;
  background: white;
}
.tabs input[name="tab-control"] {
  display: none;
}
.tabs ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-bottom: 0;
  justify-content: space-between;
}
.tabs ul li {
  flex: 1;
  width: calc(100% / 4);
  text-align: center;
}
.tabs .tab  {
  padding: 10px;
  margin-bottom: 0;
  transition: all 0.6s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .tab:hover {
  background: #00000008;
}
.tabs input[name="tab-control"]:nth-child(1):checked ~ ul > li:nth-child(1) > label {
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-child(2):checked ~ ul > li:nth-child(2) > label {
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-child(3):checked ~ ul > li:nth-child(3) > label {
  color: #428bff;
}
.tabs input[name="tab-control"]:nth-child(4):checked ~ ul > li:nth-child(4) > label {
  color: #428bff;
}
.tabs ul li label {
  display: block;
  cursor: pointer;
  transition: all .2s ease-in-out;
  user-select: none;
  color: #929daf;
}
.tabs .line {
  background: #929daf80;
}
.tabs .slider {
  width: 25%;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs input[name="tab-control"]:nth-child(1):checked ~ .line .slider {
  transform: translateX(0%);
}
.tabs input[name="tab-control"]:nth-child(2):checked ~ .line .slider {
  transform: translateX(100%);
}
.tabs input[name="tab-control"]:nth-child(3):checked ~ .line .slider {
  transform: translateX(200%);
}
.tabs input[name="tab-control"]:nth-child(4):checked ~ .line .slider {
  transform: translateX(300%);
}
.tabs .slider .indicator {
  width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #428bff;
  border-radius: 1px;
}
.tabs .content {
  margin-top: 10px;
}
.tabs input[name="tab-control"]:nth-child(1):checked ~ .content > section:nth-child(1) {
  display: block;
}
.tabs input[name="tab-control"]:nth-child(2):checked ~ .content > section:nth-child(2) {
  display: block;
}
.tabs input[name="tab-control"]:nth-child(3):checked ~ .content > section:nth-child(3) {
  display: block;
}
.tabs input[name="tab-control"]:nth-child(4):checked ~ .content > section:nth-child(4) {
  display: block;
}
.tabs .content > section {
  display: none;
}

@media (max-width: 1000px) {
  .tabs ul li label {
    white-space: initial;
  }
}